@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #a39161;  
    --secondary-color: #c0ab9f;
    --tertiary-color: black;
} 

html {
    font-family: "museo", helvetica, Arial, sans-serif;
}


